<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>

 <div id="game_results">
     <img id="player_image" src="">
     <img id="npc_image" src="">
     <div id="ActualResults">
    
    </div>
     <button id="playAgain">Play again</button>
    </div>
  

  <% include global/footer %>

  <script src="scripts/scripts.js"></script>
 </body>
</html>
